<h1>Team League Management Application</h1>

<p>Here are all your players:</p>

<ul>
  <% @players.not_done().each do |player| %>
  <li><%= player.description %></li>
  <% end %>
</ul>

<% if @players.any?() %>

  <ul>
    <% @players.each() do |player| %>
    <li><a href="/list/<%= player.id() %>"><%= player.name() %></a></li>
    <% end %>
  </ul>

<% else %>

  <h3>You have no players yet!</h3>

<% end %>

<h3>Add a new player:</h3>
<form action="/players/new" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" id="name">

  <button type="submit" class="btn btn-primary btn-sm">Add player</button>
</form>

<% @players.each() do |task| %>
  <li><%= task.description %> <a href="/teams/<%= player.id() %>/edit">Update this player's description</a></li>
<% end %>
